.field {
  display: flex;
  flex-direction: column;
}
.label {
  margin-left: 1rem;
  font-size: 1.2rem;
}
.input {
  margin-left: 1rem;
  margin-right: 1rem;
}

.button {
  margin-top: 1.15rem;
  padding: 0.5rem;
  background-color: rgb(111, 72, 227);
  color: rgb(230, 220, 255);
  font-size: 1rem;
  display: flex;
}

.submitRequest {
  display: flex;
  align-items: center;
  justify-content: center;
}
